<p-toolbar>
    <ng-template #start>
        <div class="row-container centered">
            <span class="toolbar-title">Io Investo [PW]</span>
            <div class="button-container" *ngIf="mostraTastiNavigazione()">
                <p-button label="Mercati" rounded raised (onClick)="naviga('mercati')"/>
                <p-button label="Il Mio Conto" rounded raised (onClick)="naviga('il-mio-conto')"/>
                <p-button label="Transazioni" rounded raised (onClick)="naviga('transazioni')"/>
                <p-button label="Impara" rounded raised (onClick)="naviga('impara')"/>
            </div>
        </div>
    </ng-template>
    <ng-template #end>
        <span class="toolbar-title">Matricola 0312301560</span>
        <p-button *ngIf="mostraTastiNavigazione()" label="Logout" rounded raised (onClick)="logout()"/>
    </ng-template>
</p-toolbar>