<div class="column-container centered">
    <div class="row-container centered">
        <h1>Ciao {{utenteLoggato?.username}}!</h1>
    </div>
    <div class="column-container centered">
        <h3>Le tue posizioni</h3>
        <h5>Liquidità: {{this.utenteLoggato?.liquidita?.toFixed(2) | currency:'EUR'}}</h5>
        <div class="button-container">
            <p-button label="Versa" rounded raised (onClick)="openVersamentoPrelievoDialog(true)" />
            <p-button label="Preleva" rounded raised (onClick)="openVersamentoPrelievoDialog(false)" />
        </div>
        <div class="column-container centered">
            <h5>{{utenteLoggato?.assetPosseduti?.length! > 0 ? 'I tuoi Asset' : 'Non hai nessun Asset'}}</h5>
            <div class="pie-chart-container" *ngIf="utenteLoggato?.assetPosseduti?.length! > 0">
                <p-chart type="pie" [data]="pieData" [options]="pieOptions" />
            </div>
            <h5>Valore del portafogli: {{calcolaValorePortafogli().toFixed(2) | currency:'EUR'}}</h5>
            <p-button label="Acquista/Vendi" rounded raised (onClick)="naviga('mercati')" />
        </div>
    </div>
</div>

<p-dialog [header]="isVersamento ? 'Versamento' : 'Prelievo'" [modal]="true" [(visible)]="versamentoPrelievoModalShow"
    [style]="{ width: '25rem' }">
    <div class="column-container">
        <span>Quanto vuoi {{isVersamento ? 'versare' : 'prelevare'}} ?</span>
        <p-floatlabel variant="on">
            <p-inputNumber [min]="0" step="0.01" id="importo" [(ngModel)]="importoMovimento" mode="decimal"
                [maxFractionDigits]="2" showButtons/>
            <label for="importo">Importo</label>
        </p-floatlabel>
        <div class="button-container">
            <p-button label="Annulla" severity="secondary" (click)="closeVersamentoPrelievoDialog()" rounded />
            <p-button label="Continua" (click)="versaPreleva()" rounded />
        </div>
    </div>
</p-dialog>



