<div class="column-container centered">
    <div class="row-container centered">
        <h1>Ciao {{utenteLoggato?.username}}!</h1>
    </div>
    <div class="column-container centered">
        <h3>Le tue posizioni</h3>
        <h5>Liquidità: {{this.utenteLoggato?.liquidita}}€</h5>
        <div class="button-container">
            <p-button label="Versa" rounded raised />
            <p-button label="Preleva" rounded raised />
        </div>
        <div *ngIf="this.pieData" class="column-container centered">
            <h5>Assets</h5>
            <div class="pie-chart-container">
                <p-chart type="pie" [data]="pieData" [options]="pieOptions" />
            </div>
            <h5>Valore del portafogli: {{calcolaValorePortafogli()}}€</h5>
            <p-button label="Acquista/Vendi" rounded raised (onClick)="naviga('mercati')"/>
        </div>
    </div>
</div>





<!-- <div class="line-chart-container">
    <p-chart type="line" [data]="lineData" [options]="lineOptions" class="h-[30rem]" />
</div> -->