.row-container {
    display: flex;
    flex-direction: row;
    gap: 15px
}

.row-container.centered {
    justify-content: center;
}

.row-container.start {
    justify-content: flex-start;
}

.column-container {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.column-container.centered {
    justify-content: center;
    align-items: center;
}

.toolbar-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 1rem;
    align-content: center;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 15px
}

h1,h2,h3,h4,h5 {
    margin: 0px;
}